---
title: Athletics
eleventyNavigation:
  key: Athletics
  order: 3
---
<style>
.c-prs__type {
    font-weight: 700;
}
iframe {
    width: 100%;
    height: 100%;
}
.race-list {
    list-style: none;
    padding: 0;

    li {
        padding-left: 1.2em;
        position: relative;
    }
    li::before {
        content: "– "; /* en dash with space */
        color: var(--wa-color-brand-50);   /* dash color */
        font-weight: bold;
        position: absolute;
        left: 0;
    }
}
</style>

<h1>Athletics</h1>

<p>
When I was younger I did not do sports until I was forced to join a club swim team over the summers during middle school. 
I never knew anyone on the team and did not enjoy it too much overall. Then in the spring of 8th grade 
I decided to join the crew team which a bunch of my friends were on and I instantly fell in love with the sport.
</p>



<wa-tab-group>
    <wa-tab panel="rowing">Rowing</wa-tab>
    <wa-tab panel="triathlon">Triathlon</wa-tab>
    <wa-tab panel="running">Running</wa-tab>


    <wa-tab-panel name="rowing">
        <h2 class="wa-visually-hidden">Rowing</h2>

        <section>
            <div class="wa-flank:end wa-align-items-start" style="--content-percentage: 40%;">
            <p>I started rowing in the spring of 8th grade and instantly fell in love with the sport. I have been working on my 
                fitness and technique ever since. In high school, I earned the One Hundred and Ten Percenter award 3 years in a 
                row and put everything I can into improving myself in the sport. See below for more about my rowing accomplishments, 
                personal records, and rowing vlog.</p>
            <img src="/photos/me-rowing2.jpg" alt="Richard Sollee at the beginning of the rowing stroke" style="width: 50ch;"/>
            </div>
        </section>

        <section>
            <h3 class="u-h5">Rowing Vlog</h3>
            <div class="wa-grid" style="--min-column-size: 30ch">
            <p>
                After the 2020 spring season was canceled because of COVID-19, I decided to create a
                <a href="https://www.youtube.com/channel/UCLK_z3fDVshGFHzrFuy0T8w">rowing vlog</a>
                to track my workouts and progress at home. Feel free to follow
                and comment on any videos about potential discussions you would like to see.
            </p>
            <div class="wa-frame:landscape">
                <iframe 
                src="https://www.youtube-nocookie.com/embed/jkSJnamFHHM?si=LWbtZO_XLlBX1tlL" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            </div>
        </section>

        <section>
            <h3>Notable Accomplishments</h3>
            <div class="wa-grid" style="--min-column-size: 50ch">
            <section>
                <h4>On the Water</h4>
                <ul>
                    <li>7th at IRAs 2024 in V8+</li>
                    <li class="c-tight-list__item">🥇 Dad Vail Lightweight V8+ Champions (2022, 2023, 2024)</li>
                    <li class="c-tight-list__item">🥇 Knecht Cup V8+ Champions 2023 (<a href="https://mitathletics.com/news/2023/4/16/mens-lightweight-crew-mens-lightweight-varsity-8-wins-knecht-cup.aspx">Summary Article</a>)</li>
                    <li class="c-tight-list__item"><a href="https://www.row2k.com/features/6049/mit-lightweight-richard-sollee/">Row 2k Interview (2/1/2023)</a></li>
                    <li class="c-tight-list__item">5th at Scholastic Nationals 2019 in V4x</li>
                    <li class="c-tight-list__item">🥈 2nd at Southeast Youth Regionals 2019 in V4x</li>
                </ul>
            </section>
            <section>
                <h4>On the Erg</h4>
                <ul>
                    <li class="c-tight-list__item">Previous MIT Men's Lightweight Rowing Team 2k Record (held 3/7/2021 to 3/4/2023)</li>
                    <li class="c-tight-list__item">🥇 1st at Crash B's 2021 in U23 Lwt Men</li>
                    <li class="c-tight-list__item">🥈 2nd at Crash B's 2021 in U23 Men</li>
                    <li class="c-tight-list__item">100k <a href="https://www.concept2.com/records/ultra-distance?machine=rower&record_type=world&event=100000&team_size=1&gender=M&age_category=19&weight_class=&adaptive_rower=0&language_variant=#:~:text=19%20and%20Under-,Richard%20Sollee,-Male">World Record Holder</a> for<wbr> 19&amp;under Lwt Men</li>
                    <li class="c-tight-list__item">🥈 2nd at Crash B's 2020 in U23 Lwt Men</li>
                </ul>
            </section>
            </div>
        </section>
        <section>
            <h3>Erg Personal Records</h3>
            <wa-scroller>
            <table class="c-prs" style="width: 80ch">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Distance</th>
                        <th>Time</th>
                        <th>Split</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-pr="date">03/02/2024</td>
                        <td data-pr="distance" class="c-prs__type">2k</td>
                        <td data-pr="time">6:17.2</td>
                        <td data-pr="split">1:34.3</td>
                    </tr><tr>
                        <td data-pr="date">02/21/2024</td>
                        <td data-pr="distance" class="c-prs__type">6k</td>
                        <td data-pr="time">20:14.7</td>
                        <td data-pr="split">1:41.2</td>
                    </tr><tr>
                        <td data-pr="date">10/12/2023</td>
                        <td data-pr="distance">8427m</td>
                        <td data-pr="time" class="c-prs__type">30' @r20</td>
                        <td data-pr="split">1:46.7</td>
                    </tr><tr>
                        <td data-pr="date">03/14/2024</td>
                        <td data-pr="distance" class="c-prs__type">42195m</td>
                        <td data-pr="time">2:32:47.3</td>
                        <td data-pr="split">1:48.6</td>
                    </tr><tr>
                        <td data-pr="date">05/23/2020</td>
                        <td data-pr="distance" class="c-prs__type">100k</td>
                        <td data-pr="time">6:39:30.5</td>
                        <td data-pr="split">1:59.8</td>
                    </tr>
                </tbody>
            </table>
            </wa-scroller>
        </section>

    </wa-tab-panel>


    <wa-tab-panel name="triathlon">
        <h2 class="wa-visually-hidden">Triathlon</h2>
        
        <div class="wa-flank:end wa-align-items-start" style="--content-percentage: 60%;">
        <div>
        <p>I began my triathlon journey immediately after my rowing journey ended with my college graduation.
            I raced my first triathlon in July 2024 at Ironman 70.3 Maine, less than 2 months after my last college rowing race.
            The following spring, I qualified for the 2025 70.3 World Championship in Marbella, Spain which was an amazing experience.
            I am now focusing on the Ironman distance with plans to complete my first full in 2026.
        </p>

        <section>
            <h3>Race History</h3>
            <ol class="race-list">
                <li>2025 Ironman 70.3 World Championship in Marbella, Spain (5:01:36; <strong>S 31:29</strong>; B 2:51:44; <strong>R 1:28:30</strong>)</li>
                <li>2025 Ironman 70.3 Augusta (<strong>4:29:36</strong>; S 23:09; B 2:25:13; R 1:31:27)</li>
                <li>2025 Ironman 70.3 Gulf Coast (3:54:37; <strong>B 2:17:11</strong>; R 1:35:00)</li>
                <li>2024 Ironman 70.3 Florida (4:47:52; S 34:14; B 2:26:52; R 1:39:23)</li>
                <li>2024 Ironman 70.3 Maine (4:41:42; S 25:49; B 2:32:44; R 1:34:58)</li>
            </ol>
        </section>
        </div>
        <img src="/photos/70.3Worlds2025.jpg" alt="Richard Sollee on his bike going up the mountain at 70.3 Worlds 2025" style="max-width: 30ch;"/>
        
        </div>

    </wa-tab-panel>


    <wa-tab-panel name="running">

        <h2 class="wa-visually-hidden">Running</h2>
        <section>
            <h3>My Running History</h3>

            <h4>2020 and before</h4>
            <p>Most of the time, my rowing training has included some running since the beginning but it was sporadic 
                and I ended up only running once or twice every couple of weeks. I was decent at running where I was 
                faster than most or all of the other rowers but was not very fast at running itself. In 2020, I had 
                the goal of breaking 20min for 5k but despite running 20:0X a couple of times, I never broke 20min 
                that year and had a rough New Years Eve 5k race to finish the year far from my goal.</p>
            
            <h4>2021 and after</h4>
            <div class="wa-flank:end wa-align-items-start" style="--content-percentage: 55%;">
            <p>In 2021, I decided I would get better at running. I decided I would consistently run a bit after one 
                of my daily ergs. I seemed to be getting a bit better and in late January did a 5k Time Trial as part 
                of a virtual 5k race. I ended up going sub 19min despite struggling to get close to even 20min a couple 
                weeks before. Since then, my running has gotten significantly better, especially for the Half Marathon 
                distance. After going 18:01 off GPS in May of 2021, my 5k stagnated till I finally broke 18min at a 5k 
                race on New Years Eve in 2022. My Half Marathon has been consistently dropping over time, since breaking 
                90min in March of 2021 it has dropped over 10min. 
                After my rowing career finished I ran my first marathon that summer and qualified for the Boston Marathon 
                which <a href="https://www.strava.com/activities/14247989770">I raced</a> the following spring.
                I am currently focused on triathlon but may switch to a marathon focus in the future.</p>
            <img src="/photos/BostonMarathon2025.jpg" alt="Richard Sollee in the last mile of the Boston Marathon 2025" style="width: 50ch;"/>
            </div>
        </section>

        <div class="wa-grid" style="--min-column-size: 40ch">
        <section>
            <h3>My Running PRs</h3>
            <p>Below are some of my running PRs from GPS times and race chip times (or race chip split times from a longer race). 
                The strava activities and dates can be found by looking at my Strava profile linked in the header.</p>

            <wa-scroller>
            <table class="c-prs">
                <thead>
                    <tr>
                        <th>Distance</th>
                        <th>GPS Time PR</th>
                        <th>Race Chip Time PR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-pr="distance" class="c-prs__type">1mi</td>
                        <td data-pr="gps_time">5:15</td>
                        <td data-pr="chip_time">4:57</td>
                    </tr><tr>
                        <td data-pr="distance" class="c-prs__type">5k</td>
                        <td data-pr="gps_time">17:36 (5:40/mi)</td>
                        <td data-pr="chip_time">17:57 (5:47/mi)</td>
                    </tr><tr>
                        <td data-pr="distance" class="c-prs__type">10k</td>
                        <td data-pr="gps_time">36:16 (5:50/mi)</td>
                        <td data-pr="chip_time">38:51 (6:16/mi)</td>
                    </tr><tr>
                        <td data-pr="distance" class="c-prs__type">Half Marathon</td>
                        <td data-pr="gps_time">1:18:39 (6:00/mi)</td>
                        <td data-pr="chip_time">1:21:54 (6:15/mi)</td>
                    </tr><tr>
                        <td data-pr="distance" class="c-prs__type">Marathon</td>
                        <td data-pr="gps_time"></td>
                        <td data-pr="chip_time">2:52:38 (6:35/mi)</td>
                    </tr>
                </tbody>
            </table>
            </wa-scroller>
        </section>

        <section>
            <h3>Recent Runs</h3>
            <iframe 
                frameborder='0'
                allowtransparency='true'
                scrolling='no'
                class="u-1/1"
                style="min-height: 30rem;"
                src='https://www.strava.com/athletes/63573685/latest-rides/05f0cd4f3991f9188ff7a3f4b67d4d04a9c8114f'></iframe>
        
        </section>
        </div>
    </wa-tab-panel>

</wa-tab-group>