---
title: Erg Calculators
---
<script type="module" src="/scripts/projects/ergcalc.ts"></script>

<wa-tab-group>
    <wa-tab panel="stroke">Stroke</wa-tab>


    <wa-tab-panel name="stroke">
        <h2 class="wa-visually-hidden">Stroke Calculator</h2>

    </wa-tab-panel>

</wa-tab-group>