
.shelf-item__header {
    margin: 0;
    margin-bottom: var(--wa-space-xs);
}

.shelf-item__author {
    margin: 0;
    margin-bottom: var(--wa-space-xs);
}

.shelf-item {
    margin-bottom: var(--wa-space-l);
}